{
  "context_servers": {
    "ast-grep": {
      "source": "custom",
      "command": "npx",
      "args": ["-y", "mcp-remote", "http://localhost:8080", "--allow-http"]
      // "args": ["-y", "mcp-remote", "http://mcp.localhost/search/ast/sse", "--allow-http"]
      // "command": "docker",
      // "args": [
      //   "run",
      //   "-i",
      //   "--name",
      //   "zettelkasten-ast-grep",
      //   "--rm",
      //   "-v",
      //   "$PROJECT_DIR:/data",
      //   "mcp/ast-grep"
      // ]
    },
    "python-refactor": {
      "source": "custom",
      "command": "npx",
      "args": ["-y", "mcp-remote", "http://localhost:8080", "--allow-http"]
      // "args": ["-y", "mcp-remote", "http://mcp.localhost/refactor/sse", "--allow-http"]
      // "args": ["-y", "mcp-remote", "http://mcp.localhost/refactor/sse", "--allow-http"] // Add Header/Query
      // "command": "docker",
      // "args": [
      //   "run",
      //   "-i",
      //   "--name",
      //   "zettelkasten-python-refactor",
      //   "--rm",
      //   "mcp/mcp-python-refactoring"
      // ]
    },
    "pre-commit": {
      "source": "custom",
      "command": "npx",
      "args": ["-y", "mcp-remote", "http://localhost:8080", "--allow-http"]
      // "args": ["-y", "mcp-remote", "http://mcp.localhost/git/pre-commit/sse", "--allow-http"]
      // "command": "/Users/username/code/mcp-servers/pre-commit-mcp/.venv/bin/python",
      // "args": ["-m", "pre_commit_mcp"]
    },
    "zettelkasten": {
      "source": "custom",
      "command": "npx",
      // npx -y mcp-remote http://mcp.localhost/notes --allow-http --header "service: zettelkasten"
      "args": [
        "-y",
        "mcp-remote",
        "http://mcp.localhost/notes",
        "--allow-http",
        "--header",
        "service: zettelkasten"
      ]
    },
    "zettelkasten-http": {
      /// The URL of the remote MCP server
      "url": "http://mcp.localhost/notes",
      "headers": {
        "service": "zettelkasten"
      }
    },
    "just": {
      "source": "custom",
      "command": "npx",
      "args": ["-y", "mcp-remote", "http://localhost:8080", "--allow-http"]
      // "args": ["-y", "mcp-remote", "http://mcp.localhost/search/just/sse", "--allow-http"]
      // "args": ["-y", "mcp-remote", "http://mcp.localhost/search/just", "--allow-http"]
      // "command": "just-mcp",
      // "args": ["--watch-dir", "$PROJECT_DIR"]
    }
  }
}
